.g-container{
    padding: 1.5rem;
    width: 100%;
}
.inner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 1.5rem;
    background-color: #4161df;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #5477d6;
    text-align: center;
}
.inner-container>:nth-child(1){
 
    font-size: 2rem;

    color: white;
    font-weight: 600;
}
.inner-container>:nth-child(2){
    color: rgb(255, 255, 255, 0.587);
    font-size: 0.9rem;
}

.inner-container .button{
    background: #5a73d7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
}